.section-about {
  background-color: $primary-white-color;
  padding: 47px 0 94px 0;
}

.section-about__list {
  @include flex($display: flex, $justify: space-between);
}

.section-about__item {
  position: relative;
  &:hover .section-about__description {
    transform: scale(1.3);
  }
}

.section-about__overlay {
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  background-color: $about-bgc;
  padding: 27px 0;
}

.section-about__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  transform: scale(1);

  @include transit(transform);
}
