.footer-social {
  margin-left: 70px;
}
.footer-social__list {
  display: flex;
  flex-wrap: wrap;
}
.footer-social__item:not(:last-child) {
  margin-right: 10px;
}
.footer-social__studio {
  @extend %centeredFlex;
  @include transit(background-color);
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: $footer-social-transparent;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
  & svg {
    fill: $primary-white-color;
    @include transit(fill);
  }
  &:hover svg,
  &:focus svg {
    fill: $primary-white-color;
  }
}
