.secondary-button {
  color: $primary-text-color;
  background-color: $background-secondary-color;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  @include transit(background-color);
  @include transit(color, 450ms);
  @include transit(box-shadow);

  // transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  //   color 450ms cubic-bezier(0.4, 0, 0.2, 1),
  //   box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
