.section-team {
  background-color: $background-secondary-color;
  @include padding;
}
.section-team__list {
  @include flex($justify: space-between);
}
.section-team__box {
  @include flex($direction: column);
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-team__text {
  padding: 30px 0 16px 0;
}

.section-team__name {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.section-team__position {
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-team__social-box {
  @include flex($justify: space-between);
  width: 100%;
  padding: 0 32px 30px 32px;
}
.section-team__social {
  @extend %centeredFlex;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: $primary-white-color;
  @include transit(background-color);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
  & svg {
    fill: $social-icons-primary;
    @include transit(fill);
  }
  &:hover svg,
  &:focus svg {
    fill: $primary-white-color;
  }
}
