@mixin bordered(
  $thickness: 1px,
  $style: solid,
  $color: transparent,
  $radius: 4px
) {
  border: $thickness $style $color;
  border-radius: $radius;
}

@mixin transit($transitionType: all, $transitionTime: 250ms) {
  transition: $transitionType $transitionTime cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin flex(
  $display: flex,
  $align: stretch,
  $justify: flex-start,
  $direction: row,
  $wrap: nowrap
) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}
